@import "tailwindcss";
@plugin "daisyui";


@plugin "daisyui/theme"
 {
    name: "crop-management";
    default: false;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100:  oklch(98% 0.005 120);
    --color-base-200: oklch(94% 0.008 120);
    --color-base-300: oklch(88% 0.012 120);
    --color-base-content: oklch(25% 0.015 145);
    --color-primary: oklch(55% 0.18 145);
    --color-primary-content: oklch(27% 0.033 256.848);
    --color-secondary: oklch(50% 0.08 60);
    --color-secondary-content: oklch(98% 0.01 60);
    --color-accent: oklch(75% 0.15 85);
    --color-accent-content: oklch(25% 0.05 85);
    --color-neutral: oklch(35% 0.02 145);
    --color-neutral-content: oklch(86% 0.005 56.366);
    --color-info: oklch(60% 0.18 240);
    --color-info-content: oklch(70% 0.015 286.067);
    --color-success: oklch(60% 0.20 145);
    --color-success-content: oklch(71% 0.194 13.428);
    --color-warning: oklch(70% 0.18 75);
    --color-warning-content: oklch(96% 0.059 95.617);
    --color-error: oklch(55% 0.22 25);
    --color-error-content: oklch(40% 0.123 38.172);
    --radius-selector: 0.25rem;
    --radius-field: 0.25rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}
:root {
  font-family: 'DM Serif'
}
