@import "tailwindcss";
@plugin "daisyui";


@plugin "daisyui/theme" {
    name: "light";
    default: false;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(98% 0.019 200.873);
    --color-base-200: oklch(95% 0.045 203.388);
    --color-base-300: oklch(91% 0.08 205.041);
    --color-base-content: oklch(39% 0.07 227.392);
    --color-primary: oklch(68% 0.169 237.323);
    --color-primary-content: oklch(97% 0.013 236.62);
    --color-secondary: oklch(64% 0.246 16.439);
    --color-secondary-content: oklch(96% 0.015 12.422);
    --color-accent: oklch(0% 0 0);
    --color-accent-content: oklch(100% 0 0);
    --color-neutral: oklch(60% 0.126 221.723);
    --color-neutral-content: oklch(98% 0.019 200.873);
    --color-info: oklch(78% 0.154 211.53);
    --color-info-content: oklch(30% 0.056 229.695);
    --color-success: oklch(84% 0.238 128.85);
    --color-success-content: oklch(27% 0.072 132.109);
    --color-warning: oklch(85% 0.199 91.936);
    --color-warning-content: oklch(28% 0.066 53.813);
    --color-error: oklch(70% 0.191 22.216);
    --color-error-content: oklch(25% 0.092 26.042);
    --radius-selector: 1rem;
    --radius-field: 0.5rem;
    --radius-box: 0rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 1;
}
